# ignore local virtual environment
.venv/

# ignore Python caches
__pycache__/
*.pyc

# ignore Streamlit config
.streamlit/

# ignore local data
data/

# extra precaution, ignore Excel files
*.xlsx
*.xls